<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head>
<!--  <object th:include="fragments/fragment :: title" th:remove ="tag"></object> -->
<object th:include="fragments/fragment :: css" th:remove="tag"></object>
<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<br>
	<div class="container-fluid">
		<h3 th:text="'Lihat Data Pegawai - '+ ${pegawai.nip}"></h3>
		<br>
		<div class="row">
			<div class="col-8">
				<div class="tab-content ml-1" id="myTabContent">
					<div class="tab-pane fade show active" id="basicInfo"
						role="tabpanel" aria-labelledby="basicInfo-tab">


						<div class="row">
							<div class="col-sm-3 col-md-2 col-5">
								<label style="font-weight: bold;">NIP</label>
							</div>
							<div class="col-md-8 col-6" th:text="${pegawai.nip}"></div>
						</div>
						<hr />

						<div class="row">
							<div class="col-sm-3 col-md-2 col-5">
								<label style="font-weight: bold;">Nama</label>
							</div>
							<div class="col-md-8 col-6" th:text="${pegawai.nama}"></div>
						</div>
						<hr />

						<div class="row">
							<div class="col-sm-3 col-md-2 col-5">
								<label style="font-weight: bold;">Tempat Lahir</label>
							</div>
							<div class="col-md-8 col-6" th:text="${pegawai.tempat_lahir}"></div>
						</div>
						<hr />


						<div class="row">
							<div class="col-sm-3 col-md-2 col-5">
								<label style="font-weight: bold;">Tanggal Lahir</label>
							</div>
							<div class="col-md-8 col-6" th:text="${pegawai.tanggalLahir}"></div>
						</div>
						<hr />

						<div class="row">
							<div class="col-sm-3 col-md-2 col-5">
								<label style="font-weight: bold;">Tahun Masuk</label>
							</div>
							<div class="col-md-8 col-6" th:text="${pegawai.tahunMasuk}"></div>
						</div>
						<hr />

						<div class="row">
							<div class="col-sm-3 col-md-2 col-5">
								<label style="font-weight: bold;">Nama Instansi</label>
							</div>
							<div class="col-md-8 col-6"
								th:text="${instansi} + '-' + ${provinsi}"></div>
						</div>
						<hr />

						<div class="row">
							<div class="col-sm-3 col-md-2 col-5">
								<label style="font-weight: bold;">Jabatan</label>
							</div>

							 <div class="col-md-8 col-6">
								<ul th:each="jabatan :  ${jabatan}">
									<li th:text="${jabatan.nama}"></li>
								</ul>
							</div> 
						</div>
						<hr />

						<div class="row">
							<div class="col-sm-3 col-md-2 col-5">
								<label style="font-weight: bold;">Gaji</label>
							</div>
							<div class="col-md-8 col-6" th:text="'Rp '+${gaji}"></div>
						</div>
						<hr />

						<a th:href="@{/pegawai/ubah?nip={nip}(nip=${pegawai.nip})}">
  								<button type="submit" class="btn btn-primary">Ubah</button>
  						</a>

					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>