<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head>
<!--  <object th:include="fragments/fragment :: title" th:remove ="tag"></object> -->
<object th:include="fragments/fragment :: css" th:remove="tag"></object>
<object th:include="fragments/fragment :: js" th:remove="tag"></object>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>

	<div class="container-fluid">
		<h3>Tambah Pegawai</h3>
		<div class="row">
			<div class="col-md-8">
				<div class="card">
					<div class="container-fluid">
						<form  th:action="@{/pegawai/ubah}" th:object="${pegawai}" method ="POST">
							<input type="hidden" th:field="*{nip}" />
							<div class="form-group">
								<br> <label>Nama</label> <input type="text"
									class="form-control" placeholder="Masukkan Nama" name="nama">
							</div>

							<div class="form-group">
								<label>Tempat Lahir</label> <input type="text"
									class="form-control" name="tempat_lahir">
							</div>

							<div class="form-group">
								<label>Tanggal Lahir</label> <input name="tanggalLahir"
									type="date" class="form-control"
									placeholder="Masukkan tanggal lahir">
							</div>

							<div class="form-group">
								<label>Tahun Masuk</label> <input type="number"
									class="form-control" name="tahunMasuk">
							</div>

							 <div class="form-group">
								<label>Provinsi</label> 
								
								<span th:if="*{instansi} == null">
								<select  class="form-control" required="required" name="provinsi" id="idProvinsi" th:value="${allProvinsi}">
						      		<option th:each="provinsi : ${allProvinsi}" th:value="${provinsi.id}" th:text="${provinsi.nama}" ></option>
						    	</select>
							</span>
							<span th:unless="*{instansi} == null">
								<select  class="form-control" required="required" name="provinsi" id="idProvinsi" th:value="*{instansi.provinsi}">
						      		<option  th:value="*{instansi.provinsi.id}" selected="selected" th:text="*{instansi.provinsi.nama}"></option>
			                    	<option th:each="provinsi : ${allProvinsi}" th:value="${provinsi.id}" th:text="${provinsi.nama}" ></option>
						    	</select>
							</span>
							</div> 
							
						
							<div class="form-group">
								<label>Nama Instansi</label>
								
							<span th:if="*{instansi} == null">
								<select class="custom-select" th:field="*{instansi}" id="instansi" required="required">
   	 								<option th:each="instansi : ${listInstansi}" th:value="${instansi.id}" th:text="${instansi.nama}" ></option>
								</select>	
							</span>
							<span th:unless="*{instansi} == null">
								<select class="custom-select" th:value="*{instansi}" id="instansi" name="instansi" required="required">
			                    	<option  th:value="*{instansi.id}" selected="selected" th:text="*{instansi.nama}"></option>
			                    	<option th:each="instansi : ${listInstansi}" th:value="${instansi.id}" th:text="${instansi.nama}" ></option>
			                	</select>	
							</span> 
							</div>
								
						


							<div class="form-group">
  							<label for="jabatan">Jabatan</label><br>
							<span th:each="jabatan, iterationStat : *{ListJabatan}">
							<select style="margin: 5px;"class="custom-select col-md-6" name="ListJabatan">
								<option th:each="jabatan : ${listJabatan}" th:field="*{ListJabatan[__${iterationStat.index}__]}" th:value="${jabatan.id}" th:text="${jabatan.nama}"></option>
							</select>
							<button type="submit" class="btn btn-danger btn-sm" style="margin: 5px;" name="deleteRow" th:value="${iterationStat.index}" th:style="${iterationStat.count} == 1 ? 'display: none;' : ''">Delete Jabatan</button>
							</span>
							<button type="submit" class="btn btn-info btn-sm" name="addRow" style="margin: 5px;">Tambah Jabatan</button>
  							</div>
  							<button type="submit" class="btn btn-primary">Submit</button>
  							
							<!--  <div class="form-group">
								<label>Jabatan</label> <select class="form-control" id="jabatan"
									name="jabatan" required>
									<option selected disabled>Pilih Jabatan</option>
									<th:block th:each="jabatan : ${allJabatan}">
										<option th:value="${jabatan.id}" th:text="${jabatan.nama}"></option>
									</th:block>
								</select>


							</div> -->

							<!-- <button type="submit" class="btn btn-primary">Simpan</button>
							<br> -->
						</form>
						<br>
					</div>
				</div>
			</div>
		</div>
		<br>
	</div>
</body>

<script>
$(document).ready(function(){
    $('#idProvinsi').change(function(){
        alert(this.value);
        value2=this.value;
   	 	value = $(this).val();
   	 	console.log(value);
        $.getJSON("/instansi/getInstansiByProvinsi", {
            idProvinsi : value2,
            ajax : 'true'
        }, function(data) {
            var html = '';
            var size = data.length;
            for ( var i = 0; i < size; i++) {
            	html += '<option value="' + data[i].id + '">' + data[i].nama + '</option>';
                console.log(i);
            }
            $('#instansi').html(html);
        });
    });
});
</script>

</html>
